body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    height: 100vh;
  }
  
.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
:global(.admin h1),
:global(.admin h2),
:global(.admin h3) {
  color: #343a40;
  font-family: Arial, sans-serif;
}

:global(.admin h1) {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

:global(.admin h2) {
  font-size: 1.75rem;
  margin-top: 20px;
}

:global(.admin h3) {
  font-size: 1.5rem;
  margin-top: 15px;
}
  
  
:global(.admin label) {
  font-weight: bold;
  margin-bottom: 5px;
  color: #343a40;
}

:global(.admin input),
:global(.admin select) {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

:global(.admin button) {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

:global(.admin button:hover) {
  background-color: #0056b3;
}

:global(.admin hr) {
  border: 1px solid #dee2e6;
  margin: 20px 0;
}
  